<div class="row_fluid">
	<div class="left_aside">
		<div class="cover_img" style="background-image: url(<%= asset_path 'left.jpg' %>)"></div>
		<div class="bottom_block">
			<h1>十号楼的博客</h1>
			<h3>交流,分享,沟通</h3>
			<p>我们曾渴望命运的波澜，到最后才发现，人生最曼妙的风景，竟是内心的淡定与从容；我们曾期盼外界的认可，到最后才知道，世界是自己的，与他人毫无关系；我们曾计较付出的回报，到最后才懂得，一切得到终将失去的，只能空留一抹浮名。走好选择的路，别选择好走的路，你才能拥有真正的自己。</p>

		</div>
	</div>
	<div class="content">
		<div class="page_title">
			<ul>
				<li class="active"><a href="">今日看点</a></li>
				<li><a href="">热门文章</a></li>
			</ul>
		</div>
		<div id="list-container">
			<ul class="sort_nav clearfix">
				<li class="active"><a href="">全部</a></li>
				<% Type.find_each do |row| %>
				<li><a href=""><%= row.type_name %></a></li>
				<% end %>
			</ul>
			<ul class="thumbnails">
			<% Content.find_each do |row| %>
				<li>
					<%= render :partial=>"article", :object => row , :as=>:article %>			
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
