.left_nav{
	left: 0;
	top: 0;
	height: 100%;
	background: #2a2a2a;
	position: fixed;
	width: 45px;
	z-index: 100;
}

html,body{
	margin: 0 auto;	
	height: 100%;
	line-height: 20px;
	color: #555555;
	font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a{
	text-decoration: none;
}

.dropdown{
	font-size: 18px;
	color: white;
}

.dropdown a{
	display: block;
	line-height: 25px;
	text-align: center;
	padding: 10px;
	background-color: #e78170;
	text-shadow: 0 1px 0 #de533a;
}

.row_fluid{
	width: 100%;
	height: 100%;
	float: left;
}

.left_aside{
	display: block;
	width: 25%;
	height: 100%;
	position: fixed;
	left: 45px;
}

.left_aside .cover_img{
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.left_aside .bottom_block{
	position: absolute;
	bottom: 10px;
	padding: 30px;
	color: white;
}
.bottom_block h1{
	text-shadow:-1px 0 0 rgba(0,0,0,0.75);
	font-size: 38.5px;
}

.bottom_block p{
	margin: 0 0 10px;	
}

h3{
	font-size: 24.5px;
	line-height: 40px;
}

h1,h2,h3{
	line-height: 40px;
}
h1,h2,h3,h4,h5,h6{
	margin: 10px, 0;
	font-weight: bold;
}

.content{
	float: left;
	margin-left: 28.2%;
	width: 58.33333%;
	height: 100%;
	#background-color: red;
}

.content a{
	color: black;
}

ul{
	list-style: none;
}

.page_title{
	width: 820px;
	position: fixed;
	background-color: white;
	z-index: 1;
	padding-left: 20px;
	border-bottom: 1px solid #d9d9d9;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 12px;
	margin: 0;
	text-align: center;
}

.page_title ul{
	padding: 0;
	margin: 0;
	height: 100%;	
	display: block;
	#overflow: auto;
}

.page_title ul li.active a{
	margin-bottom: -1px;
	border-bottom: 1px solid #555555;
	color: #555555;
}

.page_title ul li{
	float: left;
	line-height: 20px;
}

.page_title ul li a{
	padding: 15px;
	display: block;
	color:#999999;
	&:hover{
		color: #555555;
		background-color: #eeeeee;
	}
}

#list-container{
	margin-top: 60px;
}

.sort_nav{
	margin: 0;
	padding-left: 32px;
}

.sort_nav li{
	float: left;
	margin: 10px 15px 5px 0;
}

.sort_nav li.active a{
	color: white;
	border-color:  #e78170 !important;
	background: #e78170;
}

.sort_nav li a{
	padding: 5px 10px;
	border: 1px solid #d9d9d9;
	border-radius: 14px;
	box-sizing: border-box;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
}

.clearfix::before,.clearfix::after{
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.thumbnails{
	padding-left: 36px;
	margin: 35px 0 0;
}

.thumbnails > li{
	position: relative;
width: 100%;
padding-bottom: 15px;
margin: 0 0 10px;
border-bottom: 1px dashed #d9d9d9;
word-wrap: break-word;
}

.article .title{
	padding-right: 40px;
	color: #3f3f3f;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
}

.jianjie{
	color: #717171;
	font-size: 14px;
	fot-weight: 100;
	line-height: 24px;
}

.article_info{
	margin-top: 5px;
	padding: 1px 0;
	overflow: hidden;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}

.article_info > a{
	margin-right: 10px;
	color: #999999;
}

.content_nav{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 7px;
	box-shadow: 0 1px 3px whitesmoke;
	background: rgba(255,255,255, 0.9);
}

.container{
	margin: 0 auto;
	width: 700px;
	height: 100%;
	#background-color: red;
	#color: white;
}

.con_article{
	padding: 90px 40px 10px;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.7;	
}

.preview .title{
	word-break: break-all;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
}

.nav_icon{
	padding-left: 65px;
	float: left;
}

.nav_icon a{
	width: 32px;
	height: 32px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #e78170;
	color: #e78170;
	text-align: center;
	line-height: 32px;
}

.meta-top{
	margin: 15px 0 20px 0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.meta-top a{
	color: #4094c7;
	margin-right: 15px;
}

.meta-top span{
	position: relative;
	top: 0;
	margin-right: 10px;
	font-size: 12px;
	color: #999999;
}

.show_content{
	text-align: justify;
	word-break: break-all;
	margin:0 0 25px 0;
}

.like{
	margin-bottom: 35px;
	text-align: center;
	width: 620px;
	margin: 0 auto;
}

.like .btn{
	margin-bottom: 0px;
	cursor: pointer;
	position: relative;
	width: 144px;
	height: 42px;
	padding: 8px 24px;
	overflow: hidden;
	line-height: 45px;
	font-size: 18px;
	color: #e78170;
	background: transparent;
	border: 1px solid #e78170;
	border-radius: 40px;
	text-align: center;
	vertical-align: middle;
}

.btn span{
	right: 0;
	left: 0;
}

blockquote{
border-left-width: 10px;
background-color: rgba(102,128,153,0.05);
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
padding: 15px 20px;
border-left: 5px solid rgba(102,128,153,0.075);
}

blockquote::before, blockquote::after{
	content: "";
}

code{
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	font-family: "Source Code Pro",monospace;
	font-size: .9em;
	padding: 2px 4px;
	white-space:normal;
}